server:
  port: 9091

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: java14user
    password: root
  mail:
    host: smtp.gmail.com
    port: 587
    username: hevalcanaslan@gmail.com
    password: mfxv rqbt kqno puii
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true